html,
body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0%;
  padding: 0%;
  background-image: url("https://wallpaperaccess.com/full/269150.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#root,
.app {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  padding-top: 10vh;
  justify-content: space-around;
}

.header {
  flex-grow: 1;
  margin: 1%;
  padding: 1%;
  display: flex;
  justify-content: flex-end;
  background-color: #6d214f;
  border-radius: 15%;
  box-shadow: 5px 10px #888888;
}

.header > label {
  border: 0px;
  border-right: #ffffff 2px solid;
}

.header > a,
label {
  padding: 0.5%;
  text-decoration: none;
  color: #ffffff;
  font-size: x-large;
}

.btn {
  display: flex;
  position: relative;
  bottom: 0%;
  justify-content: center;
  align-content: center;
  padding: 5vh;
}

.footer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #130f40;
  color: #dff9fb;
}

.form {
  height: 75%;
  display: flex;
  flex-flow: column;
}

.warning {
  position: absolute;
  bottom: 25%;
  left: 20%;
}

.result {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer {
  background-color: #6ab04c;
  border-radius: 20%;
  box-shadow: 10px 10px 5px;
}

.answer > h2 {
  margin: 10%;
}

.answer > h1 {
  text-align: center;
}

.answer > button {
  float: right;
  margin: 10%;
  border-style: solid;
  background-color: inherit;
  font-size: 20px;
}

.answer > button > a {
  text-decoration: none;
}

.answer > button:hover {
  background-color: gray;
}
